.wrapper {
    display: flex;

    .dropdown.categoryy {
        max-width: 330px;
        margin: 50px auto;

        &.active {      
            display: block;
            z-index: 10;
            animation: fadeInDown .3s ease-in-out;
        }

        input {
            display: flex;
            height: 55px;
            background: #fff;
            padding: 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 8px;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 15rem;

            &::placeholder {
                color: var(--black);
            }        
        }

        .options-cate {
            display: none;
            position: absolute;
            width: 330px;
            overflow-y: auto;
            max-height: 295px;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fadeInDown .3s ease-in-out;
            width: 15rem;

                .option-cate {
                    display: flex;
                    height: 55px;
                    cursor: pointer;
                    padding: 0 16px;
                    border-radius: 8px;
                    align-items: center;
                    background: #fff;

                    &:hover {
                    background: var(--red);
                    color: var(--white);
                    }
                }

            &.active {      
                display: block;
                z-index: 10;
                animation: fadeInDown .3s ease-in-out;
            }
        }
    }

    .dropdown.formatt {
        max-width: 330px;
        margin: 50px auto;

        &.active {      
            display: block;
            z-index: 10;
            animation: fadeInDown .3s ease-in-out;
        }

        input {
            display: flex;
            height: 55px;
            background: #fff;
            padding: 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 8px;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 15rem;

            &::placeholder {
                color: var(--black);
            }        
        }

        .options-form {
            display: none;
            position: absolute;
            width: 330px;
            overflow-y: auto;
            max-height: 295px;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fadeInDown .3s ease-in-out;
            width: 15rem;

                .option-form {
                    display: flex;
                    height: 55px;
                    cursor: pointer;
                    padding: 0 16px;
                    border-radius: 8px;
                    align-items: center;
                    background: #fff;

                    &:hover {
                    background: var(--red);
                    color: var(--white);
                    }
                }

            &.active {      
                display: block;
                z-index: 10;
                animation: fadeInDown .3s ease-in-out;
            }
        }
    }

    .dropdown.datee {
        max-width: 330px;
        margin: 50px auto;

        &.active {      
            display: block;
            z-index: 10;
            animation: fadeInDown .3s ease-in-out;
        }

        input {
            display: flex;
            height: 55px;
            background: #fff;
            padding: 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 8px;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 15rem;

            &::placeholder {
                color: var(--black);
            }        
        }

        .options-date {
            display: none;
            position: absolute;
            width: 330px;
            overflow-y: auto;
            max-height: 295px;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fadeInDown .3s ease-in-out;
            width: 15rem;

                .option-date {
                    display: flex;
                    height: 55px;
                    cursor: pointer;
                    padding: 0 16px;
                    border-radius: 8px;
                    align-items: center;
                    background: #fff;

                    &:hover {
                    background: var(--red);
                    color: var(--white);
                    }
                }

            &.active {      
                display: block;
                z-index: 10;
                animation: fadeInDown .3s ease-in-out;
            }
        }
    }
}

  
  
  
  @keyframes fadeInDown  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
  }
  