.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;

    .filter-cat-format {
        display: flex;

        #format-filter {
            margin-left: 1rem;
        }
    }

    select {
        width: 12rem;
        height: 2rem;
        border: 2px solid var(--medium-grey);
        border-radius: 8px;
        font-family: 'Poppins';
        text-transform: uppercase;
        font-size: 14px;
    }
}