.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 4rem;

    .hero-image {
        width: 100%;

    }

    .hero-title {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        p {
            font-family: 'SpaceMono-Bold';
            font-size: 4rem;
            color: transparent;
            -webkit-text-stroke: 0.5px white;
            text-transform: uppercase;
            font-style: italic;
            width: 100%;
            text-align: center;
        }
    }
    
    .gallery-boucle {
        display: flex;
        width: 100%;
        height: auto;        
        position: relative;

        img {
            display: flex;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            opacity: 0.3;
        }
    }
}

// Responsive 
@media screen and (max-width: 480px) {
    .hero-container {
        
        height: 50vh;
        margin-bottom: 2rem;

        .hero-image {
            
            .gallery-boucle {

                img {
                    height: 50vh;
                }
            }
        }

        .hero-title p {
            font-size: 2.5rem;
        }
    }
}
