::-webkit-scrollbar {
    width: 7px;
}  

::-webkit-scrollbar-track {
    background: white;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background: #9ca2b0;
    border-radius: 4px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
    // display: none;

    .close-light {
        display: block;
        color: var(--white);
        font-size: 28px;
        position: absolute;
        right: 15px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }

    .arrow-lightbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: absolute;
        width: 100%;
        padding: 0 4rem;

        .lightbox_prev {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 1rem;
            height: 100%;

            img {
                height: 50px;
                width: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .lightbox_next {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            flex-direction: row-reverse;
            gap: 1rem;
            height: 100%;

            img {
                height: 50px;
                width: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.lightbox.fadeOut {
    opacity: 0;
}
 
// .lightbox_prev,
// .lightbox_next {
//     color: var(--white);
//     border: none;    
//     width: 50px;    
//     height: 100%;
//     position: fixed;
//     top: 50%;
//     // right: 0;
//     z-index: 11;
//     margin-top: -14px;
//     // text-indent: -3000px;

// }
// .lightbox_prev {
//     background: url('../../assets/images/arrow-left.png');    
//     background-repeat: no-repeat;
//     right: auto;
//     left: 20px;
// }
// .lightbox_next {    
//     background: url('../../assets/images/arrow-right.png');     
//     background-repeat: no-repeat;
//     right: 20px;
// }

.lightbox_close {
    font-size: 2rem;
    color: var(--white);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 12;

}
.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;    
}

.lightbox button:hover {
    opacity: 1;
}



.lightbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    min-height: 100vh;
    flex-direction: column-reverse;

    .ref-cate-light {
        display: flex;
        justify-content: space-between;
        color: var(--white);
        width: 50%;
    }

    img {
        max-height: 100vh;
        height: auto;
        animation: lightboxIn .5s;
        width: 50%;
        object-fit: contain;
    }
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lightbox_loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(../../assets/images/loader.svg) center center no-repeat;
}