.container-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    img {
        width: 30%;
    }

    .main-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            list-style: none;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: var(--black);
            }                    
        }
    }
}

