.photo-icons {
    position: absolute;
    // transform: none;
    display: none;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {

        &.info-icon {

            .eye-image {
                display: block;
                margin: 0 auto;
                width: 40px;
                height: auto;
            }
        }

        &.full-screen-icon {

            .full-screen-image {
                width: 40px;
                height: auto;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        &.cat-ref-lightbox {

            display: flex;
            align-items: center;
            width: 100%;
            position: absolute;
            bottom: 10px;
            justify-content: space-between;

            p {
                margin: 0 10px;
                color: var(--white);
            }
        }
    }
}