.single-photo {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.photo-details {
    display: flex;
    margin: 0 4rem;
    gap: 1rem;

    .info-block {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        flex-basis: 50%;
        padding-right: 9rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
        text-transform: uppercase;

        h1 {
            font-style: italic;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;

        .gallery-boucle {
            display: flex;
            width: 100%;
            height: auto;      
            position: relative;      

            .sim-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 0;
                transition: opacity 0.3s ease;
                pointer-events: none;
            }
    
            &:hover::before {
                opacity: 1;
            }
    
            &:hover .photo-icons {
                display: flex;
                opacity: 1;                
            }        
        }
    }
}


.interaction-block {
    display: flex;
    height: 118px;
    align-items: center;
    margin: 0 4rem;
    border-bottom: 1px solid black;
}

#myBtn {
    width: 50%;
    margin: 0 0 0 1rem;
}


// Style images suivante et précédente
.nav-links {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
    height: inherit;
    align-items: end;
    padding-bottom: 0.5rem;

    .nav-links-container {
        display: flex;
        gap: 1rem;
    }
}

.modale-single {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: space-between;

    p {
        font-family: 'Poppins';
    }
}


.nav-thumbnail {
    display: none;
    position: absolute;
    margin-top: -5rem;

    img {
        height: auto;
        width: 5rem;
    }        
}

#arrow-left,
#arrow-right {
    height: auto;
    width: 2rem;
}


.next-img {
    margin-left: -3rem;
}

.nav-link:hover .nav-thumbnail {
    display: inline-block;
}

.prev-link:hover .nav-thumbnail {
    display: inline-block;
}

.next-link:hover .nav-thumbnail {
    display: inline-block;
}


// Responsive
@media screen and (max-width: 480px) {
    .single-photo {

        .photo-details {
            flex-direction: column-reverse;
            margin: 2rem 3rem;

            .info-block {
                padding: 0;
                border: none;
            }
        }

        .interaction-block {
            margin: 0;
            justify-content: center;
            border-top: 1px solid black;
            padding: 6rem 0;

            .modale-single {
                flex-direction: column;
                flex-basis: 100%;
                padding: 0 3rem;
                align-items: flex-start;

                #myBtn {
                    width: 100%;
                    margin: 0;
                }
            }

            .nav-links {
                display: none;
            }
        }
    }
}