.single-photo {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.photo-details {
    display: flex;
    margin: 0 4rem;
    gap: 1rem;

    .info-block {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        flex-basis: 50%;
        padding-right: 9rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .photo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;

        a {
            display: flex;
            width: 100%;
            height: auto;      
            position: relative;      

            .full-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 0;
                transition: opacity 0.3s ease;
                pointer-events: none;
            }
    
            &:hover::before {
                opacity: 1;
            }

            .photo-icons {
                position: absolute;
                top: 0;
                right: 0;
                transform: none;
                // display: none;
                transition: opacity 0.3s ease;
    
                .icon {
                    display: inline-block;
                    margin: 8px;

                    &.info-icon {
                        text-align: center;

                        .eye-image {
                            display: block;
                            margin: 0 auto; // Centrer l'icône horizontalement
                            width: 40px;
                            height: auto;
                        }
                    }

                    &.full-screen-icon {

                        .full-screen-image {
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }
    
            &:hover .photo-icons {
                display: flex;
                opacity: 1;
            }
        
        }

    }
}

// essai calque sur photo
// .photo-block a::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.8); 
//     opacity: 0;
//     transition: opacity 0.3s ease;
//     pointer-events: none;
// }

// .photo-block a:hover::before {
//     opacity: 1;
// }

// fin essai calque sur photo

.interaction-block {
    display: flex;
    height: 118px;
    align-items: center;
    margin: 0 4rem;
    border-bottom: 1px solid black;
}

// .contact-link {
//     text-decoration: underline;
//     cursor: pointer;
// }

#myBtn {
    width: 50%;
    margin: 0 0 0 1rem;
}


// Style images suivante et précédente
.nav-links {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
    height: inherit;
    align-items: end;
    padding-bottom: 0.5rem;

        .nav-links-container {
            display: flex;
            gap: 1rem;
        }
}

.modale-single {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: space-between;
}

// .nav-link {
//     // display: flex;
//     // align-items: center;
//     // text-decoration: none;
//     // cursor: pointer;
    
// }

.nav-thumbnail {
    display: none;
    position: absolute;
    margin-top: -5rem;

        img {
            height: auto;
            width: 5rem;
        }        
}

#arrow-left,
#arrow-right {
    height: auto;
    width: 2rem;
}

// .prev-img {
//     margin-left: 1rem;
// }

.next-img {
    margin-left: -3rem;
}

.nav-link:hover .nav-thumbnail {
    display: inline-block;
}

.prev-link:hover .nav-thumbnail {
    display: inline-block;
}

.next-link:hover .nav-thumbnail {
    display: inline-block;
}